@import '../../../theme';

.product-container{
  padding: 30px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
}
.add_student{
  width: 400px;
}
.form-field{
  display: flex;
  flex-direction: column;
  margin: 5px;
  label{
    font-size: 20px;
    color: $brandWhite;
    margin-bottom: 5px;
  }
  input[type='text'], select, input[type="tel"], input[type='email'],  input[type='date']{
    height: 30px;
    border: 1px solid $brandWhite;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    font-weight: 600;
    font-size: 18px;
  }
}
.gender-container{
  display: flex;
  flex-direction: row;
}
.form-field-radio{
  display: flex;
  flex-direction: row;
  margin: 0px 10px;
  input[type='radio']{
    border: 1px solid$barndPrimary;
    outline: none;
    font-size: 20px;
  }
  span{
    font-size: 18px;
    color: $brandWhite;
    padding-left: 10px;
    font-weight: 600;
  }
}
.form-errors{
  font-size: 16px;
  color:  $brandWhite;
  background-color: $barndPrimary;
  padding: 5px;
  line-height: 30px;
  margin:5px 0px;
  font-weight: 900;
}

.from-actions{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button{
    padding: 5px;
    background-color: $barndPrimary;
    color: $brandWhite;
    font-size: 18px;
    outline: none;
    border: 1px solid $brandWhite;
    cursor: pointer;
    margin: 0px 5px;
    border-radius: 5px;

  }
  .rest{
    background-color: $brandSecoundary;
  }
}

.view_student_list{
  width: calc(100% - 400px);
}

.student_list{
  width: 100%;
  thead{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    background-color: $barndPrimary;
    color: $brandWhite;
    align-items: center;
    th{
      text-align: center;
    }
  }
  tr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    color: $brandWhite;
    align-items: center;
    td{

    }
  }
}
