@import '../../../theme';

.product-container{
  padding: 30px;
  height: calc(100vh - 100px);
}

.form-field{
  display: flex;
  flex-direction: column;
  margin: 5px;
  label{
    font-size: 20px;
    color: $brandWhite;
    margin-bottom: 5px;
  }
  input[type='text'], select, input[type="tel"], input[type='email'],  input[type='date']{
    height: 30px;
    border: 1px solid $brandWhite;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    font-weight: 600;
    font-size: 18px;
  }
}
.gender-container{
  display: flex;
  flex-direction: row;
}
.form-field-radio{
  display: flex;
  flex-direction: row;
  margin: 0px 10px;
  input[type='radio']{
    border: 1px solid$barndPrimary;
    outline: none;
    font-size: 20px;
  }
  span{
    font-size: 18px;
    color: $brandWhite;
    padding-left: 10px;
    font-weight: 600;
  }
}

.from-actions{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button{
    padding: 5px;
    background-color: $barndPrimary;
    color: $brandWhite;
    font-size: 18px;
    outline: none;
    border: 1px solid $brandWhite;
    cursor: pointer;
    margin: 0px 5px;
    border-radius: 5px;

  }
  .rest{
    background-color: $brandSecoundary;
  }
}
