<!-- <section class="product-container">

  <form class="data-binding-example">
    <label> Enter First Numebr </label>
    <input type="text" name="firstNumber" placeholder="Enter Number" [(ngModel)]="x" (ngModelChange)="handelFirstNumebrChagne($event)" />
    <label> Enter Secound Numebr </label>
    <input type="text" name="secoundNumber" placeholder="Enter Number" [(ngModel)]="y" (ngModelChange)="handelSecoundNumebrChagne($event)" />
    <label> User Type</label>
    <input type='radio' name="userType"/> <span> Student </span>
    <input type='radio' name="userType"/> <span>  Teacher </span>
    <label> Chose Option</label>
    <select name="operationType" [(ngModel)]="operationType" (ngModelChange)="handelOpertioTypeChange($event)">
      <option value="sum"> Sum</option>
      <option value="sub"> Sub</option>
      <option value="multi"> Multi</option>
      <option value="div"> Div</option>
    </select>
  </form>
  <h5> Resut: {{result}}</h5>
</section> -->

<section class="product-container">

  <section class="add_student">
  <form [formGroup]="userReg" (ngSubmit)="handelSubmit()">
    <section class="form-field">
      <label> First Name <sup> *</sup></label>
      <input type="text" placeholder="Enter First Name" formControlName="firstName" />
        @if((userReg.controls['firstName'].touched || submitted) && userReg.controls['firstName']['errors'] && userReg.controls['firstName']['errors']['required']){
          <p class="form-errors"> First Name is Required.</p>
        } @if(userReg.controls['firstName']['errors'] && userReg.controls['firstName']['errors']['minlength']){
          <p class="form-errors"> First Name is Required Min Length is {{userReg.controls['firstName']['errors']['minlength']['requiredLength']}}.</p>
        }
        @if(userReg.controls['firstName']['errors'] && userReg.controls['firstName']['errors']['maxlength']){
          <p class="form-errors"> First Name is Required Maxn Length is {{userReg.controls['firstName']['errors']['maxlength']['requiredLength']}}.</p>
        }

    </section>
    <section class="form-field">
      <label> Last Name</label>
      <input type="text" placeholder="Enter Last Name" formControlName="lastName" />
      @if( (userReg.controls['lastName'].touched  || submitted) && userReg.controls['lastName']['errors'] && userReg.controls['lastName']['errors']['required']){
        <p class="form-errors"> Last Name is Required.</p>
      }
    </section>
    <section class="form-field">
      <label> Email</label>
      <input type="email" placeholder="Enter Email" formControlName="email"/>
    </section>
    <section class="form-field">
      <label> Date Of Birth</label>
      <input type="date" placeholder="Enter Mobile Number" formControlName="dob"/>
    </section>
    <section  class="form-field">
      <label> Gender</label>
      <section class="gender-container">
      <section class="form-field-radio">
        <input type="radio" name="gender" formControlName="gender" value="male"/> <span> Male</span>
      </section>
      <section class="form-field-radio">
        <input type="radio"  name="gender" formControlName="gender" value="female" />
        <span>Female </span>
      </section>
    </section>
    </section>
    <section class="form-field">
      <label> User Type</label>
      <select  formControlName="userType">
        <option value="" disabled selected> Select</option>
        <option value="student"> Student</option>
        <option value="teacher"> Teacher</option>
      </select>
    </section>
    <section class="form-field">
      <label> Mobile Number</label>
      <input type="tel" placeholder="Enter Mobile Number" formControlName="mobile"/>
    </section>
    <input type="hidden" formControlName="index"/>
    <section class="from-actions">
      <button type="reset" class="rest"> Reset </button>
      <button type="submit"> Submit </button>
    </section>

  </form>
</section>
<section class="view_student_list">
  <table class="student_list">
    <thead>
      <th> S.NO</th>
      <th> Name </th>
      <th> DOB </th>
      <th> Email</th>
      <th> Gender</th>
      <th> User Type</th>
      <th> Actions</th>
    </thead>
    @for(user of usersList; track user; let i = $index){
     <tr>
      <td>{{i +1}}</td>
      <td>{{user.firstName | uppercase}} {{user.lastName | uppercase}}</td>
      <td>{{user.dob}}</td>
      <td>{{user.email}} </td>
      <td>{{user.gender | uppercase}}</td>
      <td>{{user.userType | uppercase}}</td>
      <td>
        <span class="material-icons-outlined" (click)="handelEditRow(user)">edit</span>
      </td>
    </tr>
  }
    <!--<tr>
      <td>1</td>
      <td>Raju</td>
      <td> as</td>
      <td>a </td>
      <td>d</td>
      <td>a</td>
    </tr> -->
  </table>
</section>
</section>
