@import '../../../theme';

.product-container{
  padding: 30px;
  height: calc(100vh - 100px);
}
.data-binding-example{
  border: 2px solid $brandWhite;
  width: 300px;
  border-radius: 10px;

  padding: 20px;
  label, span{
    color: $brandWhite;
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
  }
  input, select{
    outline: none;
    height: 30px;
    border: 1px solid $brandWhite;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    font-size: 20px;
    padding-left: 10px;
    color: $barndPrimary;

  }
}

.submit{
  margin: 10px;
  outline: none;
  background-color: $barndPrimary;
  color: $brandWhite;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.disabled{
  background-color: $brandGray;
  color: #000;
  opacity: 0.5;
  cursor: not-allowed;
}

.result{
  background-color: $barndPrimary;
  color: $brandWhite;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
.required-filed{
  color: $barndPrimary;
  font-size: 20px;
}
