$brandGray: #E5E5E5;
$drakGray: #CCCCCC;
$barndPrimary: #fa21d3;
$brandSecoundary: #025fad;
$brandTertiary: #4341ae;
$brand-white: #FFFFFF;

.main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 82px);
  background: rgb(2, 95, 173);
  background: linear-gradient(234deg, rgba(2, 95, 173, 1) 35%, rgba(67, 65, 174, 0.5858718487394958) 100%);
}

.left-container{
  width: 250px;
  height: inherit;
  border-right: 1px solid $brand-white;
  background-color: #025fad5c;
}

.right-container{
  width: calc(100% - 250px);
  height: inherit;
}
