
.app-title{
    font-size: 20px;
    color: red;
}


.box{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 10px;
}


.app-button{
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}