
<header>
  <section class="logo-continaer">
    <figure>
      <img src="../assets/app-images/logo.avif" height="80px" alt="app-logo"/>
    </figure>
  </section>
  <section class="global-search-container">
    <input type="text" placeholder="Enter Prodcut Name" />
  </section>
  <section class="menu-contianer">
   <nav>
    <section class="menu-items">
      <span class="material-icons" (click)="menuAction('shopping_cart')">shopping_cart</span>
      <span class="material-icons" (click)="menuAction('user-profile')">face</span>
      <span class="material-icons" (click)="menuAction('logout')">logout</span>
    </section>
   </nav>
  </section>
</header>
