
@import '../../../theme';

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border: 1px solid $brandGray;
  box-shadow: 2px 2px 2px  $brandGray;
}


.logo-continaer{
  margin-left: 10px;
}
.global-search-container{
  input[type=text]{
    width: 400px;
    height: 40px;
    border:1px solid  $brandSecoundary;
    color: $barndPrimary;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
  }
}
.menu-contianer{
  .menu-items{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    span{
      color: $brandSecoundary;
      cursor: pointer;
      font-size: 30px;
      margin: 0px 5px;
      border-radius: 100%;
      padding: 10px;
    }
    span:hover{
      background-color: $barndPrimary;
      color: $brandWhite;


    }
  }
}
